*{
    margin: auto;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
.main{
    display: grid;
    justify-content: center;
   
}
.content{
    width: 100vw;
    height: 100%;
    background: url(./images/bg-mobile.svg) center top no-repeat;
    background-size: contain;
    background-color: hsl(257, 40%, 49%);
}
.box{
    max-width: 415px;
    min-width: 310px;
    height:calc( 100vh+1rem);
}
.logo{
    width: 30%;
    padding: 1.5em;
}
.image{
    display: block; /*helped to center*/
    width: 70%;
    margin: 0 auto;
    padding:1.5rem ;

}
h2{
    text-align: center;
    padding:0 1.5em;
    color: white;
    font-size:4vh ;
    font-family: 'Poppins', sans-serif;
}
.text{
    text-align: center;
    font-size:2.5vh ;
    padding:1em 1.5em ;
}
button{
    display: block; /*helped to center*/
    width: 60%;
    height: 2.5rem;
    margin: 1em auto;
    border-radius: 3em;
    color: hsl(257, 40%, 49%) ;
    border: none;
    box-shadow: 3px 5px 5px  rgba(47, 47, 47, 0.442);
}
button:hover{
    cursor: pointer;
    background:hsl(300, 69%, 71%) ;
    color: white;
}



/* =============
   ##icons
   ============= */

.icon{
   display: grid;
   grid-template-columns: 35px 35px 35px;
   justify-content: center;
   padding: 2rem;

}   

.icon li{
 list-style: none;
 font-size: 1.5rem;
}  

li:hover{
    color:hsl(300, 69%, 71%) ;
  }


@media screen and (min-width:1000px) {

    *{
        margin: 0;
        padding: 0;
    }
    
    .content{
        height: 100%;
        background: url(./images/bg-desktop.svg)  no-repeat;
        background-color: hsl(257, 40%, 49%);
    }
    .box{
        max-width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-columns: auto auto;
    }
    .logo{
        width: 30%;
        padding: 2.5em;
    }
    .images{
        width: 55vw;
    }
    .image{
        display: block; /*helped to center*/
        width: 70%;
        margin: auto;
        padding:1.5rem ;
    
    }
   
    .container{
        display: grid;
        justify-content: start;
        align-content:center;
    }

    h2{
        font-size: 2.3rem;
        text-align: start;
        padding:0 2rem;
        color: white;
        font-family: 'Poppins', sans-serif;
    }
    .text{
        text-align:start;
        padding:1em 2em ;
    }

    button{
        width: 30%;
        height: 2.5rem;
        margin: 2rem;
        
    }
    .icon{
        display: grid;
        grid-template-columns: 40px 40px 40px;
        justify-content: end;
       
     }   

     
}